### üìä **CDD-18: Comparativo de Leitura (Python Puro vs Pandas)**

**Autora:** Tina Almeida

**Data:** 10/02/2026

**Dataset:** `gas_prices.csv`


---
### üéØ Objetivo
Comparar a complexidade e a efici√™ncia de c√≥digo para ler arquivos CSV utilizando apenas a biblioteca padr√£o do Python contra a biblioteca **Pandas**.

1Ô∏è‚É£ C√©lula de C√≥digo (Imports e Configura√ß√£o)

In [28]:
# Importando bibliotecas
import pandas as pd
import os

# Definindo o caminho do arquivo (Boas pr√°ticas: usar caminhos relativos)
caminho_arquivo = '../dados/gas_prices/gas_prices.csv'

# Verificando se o arquivo realmente existe para n√£o dar erro depois
if os.path.exists(caminho_arquivo):
    print(f"‚úÖ Arquivo encontrado: {caminho_arquivo}")
else:
    print(f"‚ùå Arquivo n√£o encontrado! Verifique o caminho.")

‚úÖ Arquivo encontrado: ../dados/gas_prices/gas_prices.csv

2Ô∏è‚É£ C√©lula de C√≥digo (O Jeito "Dif√≠cil" - Python Puro)

In [22]:
print("--- üìÇ Lendo com Python Puro (Standard Library) ---")

# 'r' = read(leitura), 'utf-8' = codifica√ß√£o de caracteres(garante que caracteres especiais sejam lidos corretamente))
with open(caminho_arquivo, 'r', encoding='utf-8') as arquivo:
    # 1. Lendo o cabe√ßalho (primeira linha)
    cabecalho = arquivo.readline().strip()  # Remove espa√ßos em branco e quebras de linha
    print(f"üìã Cabe√ßalho: {cabecalho}")

    # 2. Lendo as pr√≥ximas 5 linhas do arquivo
    print("üìÑ Primeiras 5 linhas do arquivo:")
    for _ in range(5):
        linha = arquivo.readline().strip()
        print(linha)
    print("Usando Python puro os dados s√£o lidos como strings, linha por linha, sem estrutura tabular.")

--- üìÇ Lendo com Python Puro (Standard Library) ---
üìã Cabe√ßalho: Year,Australia,Canada,France,Germany,Italy,Japan,Mexico,South Korea,UK,USA
üìÑ Primeiras 5 linhas do arquivo:
1990,,1.87,3.63,2.65,4.59,3.16,1,2.05,2.82,1.16
1991,1.96,1.92,3.45,2.9,4.5,3.46,1.3,2.49,3.01,1.14
1992,1.89,1.73,3.56,3.27,4.53,3.58,1.5,2.65,3.06,1.13
1993,1.73,1.57,3.41,3.07,3.68,4.16,1.56,2.88,2.84,1.11
1994,1.84,1.45,3.59,3.52,3.7,4.36,1.48,2.87,2.99,1.11
Usando Python puro os dados s√£o lidos como strings, linha por linha, sem estrutura tabular.

3Ô∏è‚É£ C√©lula de C√≥digo (O Jeito "F√°cil" - Pandas)

In [ ]:
print("--- üêº Lendo com Pandas ---")

# Uma √∫nica linha de c√≥digo para ler o CSV em um DataFrame
df = pd.read_csv(caminho_arquivo)
print("Primeiras 5 linhas do dataset:")
# Mostra as 5 primeiras linhas do DataFrame formatado
# Display: Exibe o DataFrame de forma mais bonita no Jupyter Notebook
display(df.head(5))
print("Usando pandas, os dados v√™m em um DataFrame, que √© uma estrutura de dados tabular com linhas e colunas.")

--- üêº Lendo com Pandas ---
Primeiras 5 linhas do dataset:

,Year,Australia,Canada,France,Germany,Italy,Japan,Mexico,South Korea,UK,USA
0,1990,NaN,1.87,3.63,2.65,4.59,3.16,1.00,2.05,2.82,1.16
1,1991,1.96,1.92,3.45,2.90,4.50,3.46,1.30,2.49,3.01,1.14
2,1992,1.89,1.73,3.56,3.27,4.53,3.58,1.50,2.65,3.06,1.13
3,1993,1.73,1.57,3.41,3.07,3.68,4.16,1.56,2.88,2.84,1.11
4,1994,1.84,1.45,3.59,3.52,3.70,4.36,1.48,2.87,2.99,1.11

Usando pandas os dados veem como um DataFrame, que √© uma estrutura de dados tabular com linhas e colunas.

4Ô∏è‚É£ C√©lula de C√≥digo (Explora√ß√£o T√©cnica)

In [25]:
# Info() √© o raio-x do DataFrame, mostrando o n√∫mero de entradas, colunas, tipos de dados e uso de mem√≥ria
print("\nüîç Informa√ß√µes do DataFrame:")
df.info()

üîç Informa√ß√µes do DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         19 non-null     int64
 1   Australia    18 non-null     float64
 2   Canada       19 non-null     float64
 3   France       19 non-null     float64
 4   Germany      19 non-null     float64
 5   Italy        19 non-null     float64
 6   Japan        19 non-null     float64
 7   Mexico       19 non-null     float64
 8   South Korea  19 non-null     float64
 9   UK           19 non-null     float64
 10  USA          19 non-null     float64
dtypes: float64(10), int64(1)
memory usage: 1.8 KB